@{
    ViewData["Title"] = "Home Page";
}

@section Headers {

}

<div class="text-center">
    <div class="container" id="main_container">

    </div>
</div>

@section Scripts
{
    <partial name="_LoginRequestScriptsPartial" />

    @*<script type="text/javascript">
        $(document).ready(function(){
            userLoginPage();
        });

    </script> *@
}
